<div style=" color:black; text-shadow: 1px 1px orange; font-size:2em;  background:url(images/12951395-absract-retro-burnt-flourish-classical-texture-Stock-Photo.jpg)">
    <h1 align="center" >  Scientific Python</h1>

    <img src="images/kundalini_pythons.png" style="height:360px; right-pad:2cm; " >
</div>

In [45]:
from IPython.core.display import HTML
css = open('style/style-table.css').read() + open('style/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

### Pandas iteration of rows

The following code is an answer from stack overflow.

The question was very complex 

  <blockquote> I need to extract substrings from a pandas df, and place them into a new column.

    The strings I have look like:

    hj_yu_fb824_as22,
    jk_yu_fb638.

    I need to extract:

    fb824,
    fb638
      </blockquote>

To add to the complexity, two columns need to be compared when looking for the string.

http://stackoverflow.com/questions/35315079/match-mixture-of-characters-and-digits-in-pandas

In [10]:
import pandas as pd
from pandas import DataFrame
import re

This code creates an example dataframe

In [26]:
df = DataFrame({'col1': {0: 'mf_lp_gn817_ml46',
 1: 'desktop_300x250_mf',
 2: 'desktop_300x250_mf',
 3: 'desktop_728x90_mf'},
 'col2': {0: 'd_nb_05340.gif ',
 1: 'mf_lp_fb824_ml46.html ',
 2: 'dd_lp_ig805.html ',
 3: 'mf_lp_fb824_ml46.html '}})

df

                 col1                    col2
0    mf_lp_gn817_ml46         d_nb_05340.gif
1  desktop_300x250_mf  mf_lp_fb824_ml46.html
2  desktop_300x250_mf       dd_lp_ig805.html
3   desktop_728x90_mf  mf_lp_fb824_ml46.html

The solution is extremely elegant. A regular expression that looks for 2 lowercase letters followed by 3 digits, all between an underscore and either an underscore or a fullstop. The 'r' means raw in python3

```python
prog = re.compile(r'_([a-z]{2}[0-9]{3})[_.]')
```

Each index/row of the dataframe is taken using iterows() and each column is examined in turn.
    
```python
for index, row in df.iterrows():
    for column in row.keys():
```
if the pattern exists in the cell, an answer will be stored in m

```python
m = prog.search(row[column])
```    
if m isn't empty, i.e. a match was found, the matching string is written to col3

```python
df.ix[index, 'col3'] = m.group(1)
```

In [43]:
prog = re.compile(r'_([a-z]{2}[0-9]{3})[_.]')

for index, row in df.iterrows():
    for column in row.keys():
        m = prog.search(row[column])
        if m is not None:
            df.ix[index, 'col3'] = m.group(1)

In [38]:
df

                 col1                    col2   col3
0    mf_lp_gn817_ml46         d_nb_05340.gif   gn817
1  desktop_300x250_mf  mf_lp_fb824_ml46.html   fb824
2  desktop_300x250_mf       dd_lp_ig805.html   ig805
3   desktop_728x90_mf  mf_lp_fb824_ml46.html   fb824